body, html {
    height: 100%;
}

body {
    /*padding-top: 50px;*/
    /*padding-bottom: 20px;*/
    background-image: radial-gradient(circle, #f4ff00, #daff00, #beff00, #9eff00, #78ff00, #62ff00, #46ff01, #03ff08, #05ff06, #07ff04, #09ff02, #0bff00);
    height: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */

select,
textarea {
    max-width: 280px;
}
.titre {
    font-family: 'Modak', cursive;
    font-size:50px;
}
#connexion {
}

.patterns {
    position: absolute;
    width: -webkit-fill-available;
}

.form-control {
    margin-bottom: 10px;
}

.formulaireconnexion {
    /*background-color: white;*/ 
    text-align: center;
    border: 1px solid black;
    padding: 4em;
    top: 20em;
    border-radius: 10px;
}

.formLogin {
    text-align: center;
}

#listeConversation {
    height: 55em;
    border-radius: 2px;
    border: 1px solid grey;
    padding:0px;
}
#discussionsGroupe{
    width:fit-content;
}
#contacts{
    width:fit-content;
}
#partiMessage {
    height: 200px;
    border: 1px solid grey;
    
}
#partiInfo{
    border: 1px solid grey;
    padding:0px;
}
.dateNaissance{
    width:30px;
}
.blocDiscussion{
    width:100%;
    overflow-y:auto;
}
.titreDiscussion {
    width: 100%;
    color: grey;
    font-size: 20px;
    /*font-family: 'Press Start 2P', cursive;*/
    /*font-family:'Modak', cursive;*/
    font-family: Arial;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
.titreDiscussion:hover{
    /*background-color:grey;*/
    border-color:grey;
    color:black;
}

#affichageMessages {
    padding-top:20px;
    border: 1px solid grey;
    height: 60%;
    margin: 1%;
    overflow:auto;
}
#envoiMessage {
    border: 1px solid grey;
    height: 20%;
    margin: 1%;
}
.blocMessage {
    display: inline-block;
    color: grey;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 3px;
    min-width:20%;
    max-width: 50%;
    height:100%;
    border: 3px solid #00fff7;
    border-radius: 50px;
    /*background-image: radial-gradient(circle, #f4ff00, #daff00, #beff00, #9eff00, #78ff00, #62ff00, #46ff01, #03ff08, #05ff06, #07ff04, #09ff02, #0bff00);*/
}

.blocMessage2 {
    display: inline-block;
    color: grey;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 3px;
    min-width: 20%;
    max-width: 50%;
    height: 100%;
    border: 3px solid #00FF00;
    border-radius: 50px;
    right:0px;
}
.texteMessages {
    color: white;
    border-radius: 50px;
    /*background-image: linear-gradient(to right, #1c0010, #21111b, #281c25, #30282f, #383338, #383338, #383338, #383338, #30282f, #281c25, #21111b, #1c0010);*/
    /*height: 100%;
    width: 100%;*/
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.dateEnvoi{
    padding:10px;
    padding-left:20px;
    padding-right:20px;
}
#messageEnCours {
    height:100%;
    width: 100%;
    max-width:100%;
    min-width:100%;
    
}
#boutonEnvoi{
    float:right
}
.titreInfo{
    text-align:center;
    border:1px solid grey;
    color:grey;
    margin:0px;
    width:100%;
}
textarea{
    max-width:100%;
}