
@{
    ViewBag.Title = "MessagesApi";
}

<div id="truc" style="height:50px;width:50px;background-color:red;"></div>   
<div class="row" style="text-align:center">
    <div class="col-md-2 col-md-offset-4">
        <input type="text" placeholder="recherche" class="form-control" />
    </div>
    
</div>
<div class="row">
    <div class="col-md-2" id="listeConversation" style="background-color:white;height:55em;">
        <div class="row" style="border:1px solid black;height:40%;margin:5%;">

        </div>
        <div class="row" style="border:1px solid black;height:40%;margin:5%;">

        </div>

    </div>
    <div class="col-md-8 col-md-offset-1" id="partiMessage" style="height:55em;background-color:white;">
        <div class="row" style="border:1px solid black;height:60%;margin:5%;">

        </div>
        <div class="row" style="border:1px solid black;height:20%;margin:5%;">

        </div>
    </div>
</div>
<script src="~/Scripts/MessagesApi.js"></script>