@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    265 avenue Mitterand<br />
    Sains-en-Gohelle 62172<br />
    <abbr title="Phone">tel:</abbr>
    0621225499
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:thibault.g.defrance@gmail.com">envoyer un email</a><br />
    
</address>