<script>

   /* function redirection() {
        window.location.replace("https://localhost:44301/Home");
    }
    function delaiRedirection() {
        setTimeout(redirection(), 40000);
    }
    delaiRedirection();*/





</script>
@{
    ViewBag.Title = "Erreur";
}

<h2>Une erreur est survenue, vous allez être redirigé</h2>

