
@{
    ViewBag.Title = "MessagesApi";
}
<style>
    body {
        background-image: linear-gradient(to right, #1c0010, #21111b, #281c25, #30282f, #383338, #383338, #383338, #383338, #30282f, #281c25, #21111b, #1c0010);
          
    }
    .navbar {
        background-image: radial-gradient(circle, #f4ff00, #daff00, #beff00, #9eff00, #78ff00, #62ff00, #46ff01, #03ff08, #05ff06, #07ff04, #09ff02, #0bff00);
       
    }
    .navbar-inverse .navbar-brand {
        color: white;
    }
</style>

<div class="row" style="text-align:center">
    <div class="offset-md-2 col-md-2"><p id="titreDiscussionEnCour" style="overflow-x:auto;font-size:20px;color:grey;"></p></div>
    <div class="col-md-2 col-md-offset-2">
        <input type="text" placeholder="recherche" class="form-control" onkeypress="rechercheContact('rechercheContact')" onblur="effacerRecherche('rechercheContact')" id="barreDeRechercheContact" />
        <div style="width:100%;background-color:white;position:absolute;z-index:+1;max-height:250px;overflow-y:auto;" id="rechercheContact">

        </div>
    </div>
    <div id="affichageNotifications" class="col-md-2">
        <img onclick="afficherNotifications()" id="boutonNotification" src="~/Content/Medias/bell.png" />
    </div>
    <div class="col-md-offset-4 col-md-1" style="float:right;">
        @using (Html.BeginForm("Deconnexion", "Home", null, FormMethod.Post))
        {



            <input type="submit" value="deconnexion" class="btn btn-success" style="width:100%;" />

        }

    </div>


</div>
<div class="row">
    <div class="col-md-2" id="listeConversation" style="height:80vh;">
        <h3 class="titreInfo" id="vosDiscussions">vos discussions</h3>
        <div  id="discussionsGroupe" style="height:45%;width:100%;max-height:45%;overflow-y:auto;">


        </div>
        <input type="submit"  value="créer une discussion" class="form-control" style="width:100%;margin:0px;" onclick="creerModal()"/>
        <h3 class="titreInfo">vos contacts</h3>
        <div id="listeContacts" style="height:50%;width:auto;">

        </div>
        

    </div>
    <div class="col-md-8" id="partiMessage" style="height:80vh;">
        <div class="row" id="affichageMessages">

        </div>
        <div class="row" id="envoiMessage">
            <textarea id="messageEnCours" class="form-control" placeholder="tapez votre message"></textarea>
        </div>
        <button class="btn btn-success" id="boutonEnvoi" onclick="envoyerMessage()">envoyer</button>
    </div>
    <div class="col-md-2" id="partiInfo" style="height:80vh;padding:10px;">
        <h3 class="titreInfo" id="titreInfoDiscussion">Info discussion</h3>
        <div id="affichageInfo" style="">

        </div>
    </div>
</div>



<input type="hidden" value=@ViewBag.requestToken id="utilisateurToken"/>
<input type="hidden" id="discussionToken" />

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">nom de la discussion:</label>
                        <input type="text" class="form-control" id="nomDiscussion">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">description(quelques mots pour éxpliquer votre discussion) :</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary" id="creationDiscussion">créer la discussion</button>
            </div>
        </div>
    </div>
</div>
<div id="modaleEnvoiNotif" style="background-color:white;height:20%;width:20%;position;position:fixed;top:20vh;left:40vw;border-radius:20px;padding:50px;overflow:auto;display:none;">

</div>
<div id="modaleAffichageNotif" style="background-color: white; height: auto; width: 200px; position: fixed; top: 20vh; left: 40vw; border-radius: 20px; padding: 50px;display:none;" >

</div>
<script src="~/Scripts/MessagesApi.js"></script>







